@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Karla:wght@200&display=swap');

/* Global styles*/
:root {
  --title-font: 'Kanit', sans-serif;
  --title-size: 50px;
  --footer-font: 'Karla', sans-serif;
  --primary-gradient: linear-gradient(90deg, rgba(33,75,4,1) 0%, rgba(91,121,9,1) 35%);
  --primary-background: rgba(91,121,9,1);
}
